/* INICIALIZAR ESTILOS basico */
body {
    margin: 0;
   font-family:Arial, Helvetica, sans-serif;
}

/* Encabezado */
header{
    background-color: #ee55a9;
    color: white;
    text-align: center;
    padding: px;
}

/* Menu de navegacion */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 206, 251);
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px
}

nav ul li a{
    color:black;
    text-decoration: none;
    padding: 10px;

}

nav ul li a:hover{/* al los elementos li y a cuando colocamos el mouse sobre el link */
    background-color: #575757;
    border-radius: 5px;
}

/* Contenido principal */
main{
    padding: 20px;
}

/* Pie de pagina */
footer{
    background-color: #f5e2f2;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}